# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
.mypy_cache/

# IDEs / Editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db


